body {
    background-image: url("kittens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Calibri, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #fff
}

.container {
    background-color: black;
    opacity: 0.80;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

footer, footer a {
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;;
}

footer a {
    color: orange;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px;
    color: white;
    background-color: crimson;
    font-weight: bold;
    border-radius: 20px;;
    width: 200px;
    margin-bottom: 5px;
}

#increment-btn {background-color: orange;}

#save-btn {background-color: black;}
